.meiti_right{
	width: 19.16%;
}
.meiti_left{
	width: 39.27%;
}
.meiti_img_wrap_one{
	width: 48%;
	margin: 0;
	margin-right: 4%;
}

#index_main_wdy video{
	width: 100%;
	height:auto;
}
#index_main_sys{
	padding-left: 20%;
}
.main_sys{
	width: 50%;
}
.index_banner_box{
	width: 200px;
	font-size: 13px;
}

.index_banner_box span{
	font-size: 20px;
	line-height: 40px;
}
.meiti_img_wrap p{
	font-size: 15px;
}
.meiti_img_wrap span{
	font-size: 12px;
}
