@charset "utf-8";

.wrap{
	width:1440px;
	margin: auto;
	margin-bottom: 64px;
}
::selection {
		background: red;
		color: white;
	}
.lab-list{
	margin: auto;
	text-align: center;
	margin-bottom: 10px;
}
.lab-list>li{
	display: inline-block;
	margin-right: 28px;
}
.lab-list>li>a{
	color: #d10007;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.lab-neirong{
	width:100%;
	height:auto;
}
.lab-neirong-right{
	width:24%;
	float: right;
	margin-right: 1%;
}
.lab-neirong-left{
	width:48%;
}
.lab-neirong-right-tp1{
	display: block;
	border-top:2px solid #000;
	border-bottom: 5px solid #000;
	padding:10px 0 20px;
	margin-bottom: 10px;
}
.right-tp1-box1{
	position: relative;
}
.right-tp1-box1>img{
	display: block;	
}
.right-tp1-box1>div{
	width:100%;height:100%;
	position: absolute;
	background:#d10007;
    opacity: 0; 
	mix-blend-mode: multiply;
	transition: all 0.2s;
}
.lab-neirong-right-tp1:hover .right-tp1-box1>div{  
    opacity: 1; 
}
.lab-neirong-right-tp1:hover{
	text-decoration: none;
	border-color:#d10007;	
}
.lab-neirong-right-tp1:hover .right-wenzi1,
.lab-neirong-right-tp1:hover .right-wenzi2{
	color:#d10007;
}
.right-tp1-box1>img{
	width:100%;
	height:100%;
}
.right-wenzi1{
	font-size:20px;
	margin-top: 10px;
	color:#000;
}
.right-wenzi2{
	display: block;
	font-size:14px;
	margin-top: 5px;
	color:#000;
}
