
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487394866917'); /* IE9*/
  src: url('iconfont.eot?t=1487394866917#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487394866917') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487394866917') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487394866917#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-birdxiaoniao:before { content: "\e736"; }

.icon-xinfeng:before { content: "\e623"; }

.icon-facebookf:before { content: "\e71e"; }

.icon-taoxin:before { content: "\e602"; }

